body {
	margin: 0;
	background: #15151e;
	overflow-x: hidden;
	font-weight: 900;
	text-transform: capitalize;
}

.horiz-section {
	width: fit-content;
	display: flex;
	flex-wrap: nowrap;
}

.horiz-box {
	border: 1px solid red;
	flex-shrink: 0;
	margin: 0;
	width: 50vw;
	height: 100vh;
	background-color: #e1e1ff;
}

.vert-box {
	border: 1px solid blue;
	flex-shrink: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-color: orange;
}

.horiz-box,
.vert-box {
	display: flex;
	align-items: center;
	justify-content: center;
}